.weekly-form {
  margin: auto;
  width: 50%;
  border: 3px solid darkgray;
  padding: 50px;
  background-color: gray;
}

.form-group {
  padding: 20px;
}

.bottom-right-button {
  position: fixed;
  bottom: 0;
  right: 0;
}

.submit-button {
  align-content: right;
  float: right;
}
