.weekly-form {
  margin: auto;
  width: 50%;
  border: 3px solid lightgray;
  padding: 50px;
  background-color: #E1E1E1;
}

.form-group {
  padding: 20px;
}

.bottom-right-button {
  position: fixed;
  bottom: 0;
  right: 0;
}
